@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";

}

body{
    background: url(assets/images/background-pattern-desktop.svg) no-repeat;
    background-size: contain;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    background: hsl(0, 0%, 100%);
    width: 590px;
    padding: 30px 40px;
    border-radius: 20px;
    
}

.container .heading{
    display: flex;
    margin-bottom: 40px;
}

.container .heading h1{
    font-weight: 700;
    margin-left: 20px;
    font-size: 40px;
}


.container .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 600;
    color: hsl(292, 42%, 14%);
    cursor: pointer;
    
}

.container .question:hover{
    color:rgb(184, 51, 175) ;
}

.container p{
    color: hsl(292, 16%, 49%);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 30px;
}

.container  .question img{
    cursor: pointer;
}

.hidden{
    display: none;
}

